:root {
  /* primary color*/
  --primary-100: #ffe4e6;
  --primary-200: #fecdd3;
  --primary-300: #fda4af;
  --primary-400: #fb7185;
  --primary-500: #f43f5e;
  --primary-600: #e11d48;
  --primary-700: #be123c;
  --primary-800: #9f1239;
  --primary-900: #881337;
  --primary-950: #4c0519;
  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* other colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* rest of vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --radius: 0.5rem;
  --spacing: 1px;
  --transition: all 0.3s linear;
  --max-width: 1400px;
  --fixed-width: 620px;
  --padding: 0.375rem 0.75rem;
  /* fonts */
  --headingFont: 'Cinzel', serif;
  --bodyFont: 'Supreme', sans-serif;
  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--bodyFont);
  background: var(--backgroundColor);
  color: var(--grey-950);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid var(--grey-800);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-weight: 500;
}

button {
  font-family: inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--grey-300);
  max-width: 40em;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 80vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.text-center {
  text-align: center;
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 5px solid var(--grey-400);
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}

.btn {
  text-transform: uppercase;
  background: var(--primary-300);
  color: var(--primary-700);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 400;
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  border-color: transparent;
}

.btn:hover {
  color: var(--primary-100);
  background: var(--primary-500);
}

.title {
  text-align: center;
}

.title .underline {
  width: 6rem;
  height: 0.25rem;
  background: var(--primary-500);
  margin-left: auto;
  margin-right: auto;
}

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: var(--padding);
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  .btn {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
  }

  .section-center {
    width: 95vw;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}